@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #08070b;
  font-family: "JetBrains Mono", serif;
  font-weight: 700;
}

h1 {
  color: #817d92;
  font-size: 16px;
  line-height: 21.12px;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 17px 16px;
  width: 343px;
  background-color: #24232c;
  margin-top: 16px;
}

.input-container input {
  background-color: #24232c;
  border: none;
  font-size: 24px;
  line-height: 31.68px;
  color: #e6e5ea;
  outline: none;
}
