@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #08070b;
  font-family: "JetBrains Mono", serif;
  font-weight: 700;
}

h1 {
  color: #817d92;
  font-size: 16px;
  line-height: 21.12px;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 17px 16px;
  width: 343px;
  background-color: #24232c;
  margin-top: 16px;
}

.input-container input {
  background-color: #24232c;
  border: none;
  font-size: 24px;
  line-height: 31.68px;
  color: #e6e5ea;
  outline: none;
}

.main-container {
  width: 343px;
  background-color: #24232c;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 21.12px;
}

.length {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-size: 16px;
  line-height: 21.12px;
  color: #e6e5ea;
}

h3 {
  font-size: 16px;
  line-height: 21.12px;
  color: #a4ffaf;
}

.main-container input {
  -webkit-appearance: none;
  outline: none;
  border: none;
  margin-top: 18px;
  width: 311px;
  height: 8px;
  background: linear-gradient(to right, #a4ffaf 0%, #18171f 0%);
}

.main-container input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 28px;
  height: 28px;
  background-color: #e6e5ea;
  border-radius: 50%;
}

.include {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 17px;
}

.box {
  width: 20px;
  height: 20px;
  border: 2px solid #e6e5ea;
}

.box img {
  display: none;
}

h4 {
  color: #e6e5ea;
  font-size: 16px;
  line-height: 21.12px;
}

.strength-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 311px;
  background-color: #18171f;
  padding: 14px 16px;
  margin-top: 32px;
}

h5 {
  color: #817d92;
  font-size: 16px;
  line-height: 21.12px;
}

.bottom-box {
  width: 10px;
  height: 28px;
  border: 2px solid #e6e5ea;
}

p {
  color: #e6e5ea;
  font-size: 18px;
  line-height: 23.76px;
}

.strength-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.generate {
  position: relative;
  margin-top: 16px;
}

.generate button {
  width: 311px;
  padding: 18px 0px;
  color: #24232c;
  font-size: 16px;
  line-height: 21.12px;
  background-color: #a4ffaf;
  border: none;
  font-weight: 700;
}

.generate img {
  position: relative;
  top: -39px;
  left: 212px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row input {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #e6e5ea;
  margin-top: 0;
}

.row img {
  display: none;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 24px;
    line-height: 31.68px;
  }

  .input-container {
    width: 540px;
    padding: 19px 32px;
    margin-top: 31px;
  }

  .main-container {
    width: 540px;
    margin-top: 24px;
    padding: 24px 32px;
  }

  h2 {
    font-size: 18px;
    line-height: 23.76px;
  }

  h3 {
    font-size: 32px;
    line-height: 42.24px;
  }

  .main-container input {
    width: 476px;
    margin-top: 26px;
  }

  .include {
    margin-top: 32px;
  }

  h4 {
    font-size: 18px;
    line-height: 23.76px;
  }

  .strength-container {
    width: 476px;
    padding: 21px 31.5px;
  }

  h5 {
    font-size: 18px;
    line-height: 21.12px;
  }

  p {
    font-size: 24px;
    line-height: 31.68px;
    margin-right: 5px;
  }

  .generate {
    margin-top: 32px;
  }

  .generate button {
    width: 476px;
    padding: 21px 0px;
  }

  .generate img {
    top: -42px;
    left: 300px;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .row input {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #e6e5ea;
    margin-top: 0;
  }

  .row img {
    display: none;
  }
}
